<h1>HOME</h1>

<div class="div-home">
    {{#each product}}
        <div class="card">
            <p>Title: {{this.title}}</p>
            <p>Description: {{this.description}}</p>
            <p>Price: {{this.price}}</p>
            <p>Category: {{this.category}}</p>
            <p>Stock: {{this.stock}}</p>
        </div>
    {{/each}}
</div>